.affiliatesPart{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 155px;
    margin-top: 170px;
}
.affiliatesPart h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #0e243c;
    margin-bottom: 120px;
}
.affiliates{
    display: flex;
    gap: 45px;
}