.header{
    width: 100%;
}
.insideHeader{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 28px 155px;
}
.pages{
    display: flex;
    justify-content: space-between;
}
.pages p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5px;
    letter-spacing: 1px;
    color: #0e243c;
    opacity: 0.9;
    cursor: pointer;
}