.opportunities{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 155px;
    margin-top: 170px;
}
.opportunities h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #0e243c;
    margin-bottom: 120px;
    letter-spacing: 1.1px;
    text-align: center;
    margin-right: 155px;
}
.insideOpportunities{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 10px;
}
.opportunitiesPart{
    display: flex;
    flex-direction: column;
    gap: 35px;
}